!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title
      =@title
    %link(rel="stylesheet" href="css/bootstrap.css")
    %link(rel="stylesheet" href="css/bootstrap-overrides.css")
    %link(href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel='stylesheet' type='text/css')

    %meta(charset="utf-8")
    %meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    %script(type="text/javascript" src="js/jquery-1.8.2.min.js")
    %script(type="text/javascript" src="js/chrome-sdb.js")
    %script(type="text/javascript" src="js/bootstrap-twipsy.js")
    %script(type="text/javascript" src="js/bootstrap-popover.js")
    %script(type="text/javascript" src="js/bootstrap-dropdown.js")
    %script(type="text/javascript" src="js/bootstrap-scrollspy.js")
  %body

    .topbar
      .fill
        .container-fluid
          %a.brand.brandfont(href="/chrome-sdb.html")
            %img(src="images/chrome-sdb-tool-19.png")
            Simple DB Tool
          %ul.nav
            %li
              %a(href="/chrome-sdb.html")
                Query
            %li
              %a(href="/config.html")
                Configure
            %li.active
              %a(href="/about.html")
                About

    .container-fluid
      .content
        .row.span8
          %h1
            About
          %h3.brandfont
            Simple DB Tool v0.1
          %p
            This tool is built for Simple DB developers everywhere!  Please use it and provide
            %a(href="https://github.com/floodfx/chrome-sdb/issues")
              feedback.
          %h3
            New tool replacing old tool
          %p
            This is a new tool that replaces the old Firefox plugin tool (
            %a(href="https://github.com/floodfx/sdbtool")
              Sdbtool
            ) that I wrote a few years back and which has been a PITA to keep updated as Firefox started releasing new updates every couple of weeks and required updating the plugin...  Plus, Chrome is just faster than Firefox. :)
          %h3
            Open Source
          %p
            Chrome Simple DB Tool is
            %a(href="https://github.com/floodfx/chrome-sdb")
              open source.
            Pull requests are happily accepted!
          %h3
            Chrome Store
          %p
            We also hope to get this listed in the Google Chrome store...eventually.


        .row.span12
          %footer.actions
            %span.brandfont
              Simple DB Tool v0.1
            |
            %a(href="https://github.com/floodfx/chrome-sdb/issues")
              Feedback / Bugs / Feature requests?
