!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title  
      =@title
    %link(rel="stylesheet" href="css/bootstrap.css")
    %link(rel="stylesheet" href="css/bootstrap-overrides.css")
    %link(href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel='stylesheet' type='text/css')
    
    %meta(charset="utf-8")
    %meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js")
    %script(type="text/javascript" src="js/chrome-sdb.js")
    %script(type="text/javascript" src="js/bootstrap-twipsy.js")
    %script(type="text/javascript" src="js/bootstrap-popover.js")
    %script(type="text/javascript" src="js/bootstrap-dropdown.js")
    %script(type="text/javascript" src="js/bootstrap-scrollspy.js")
    %script(type="text/javascript" src="js/bootstrap-buttons.js") 
    %script(type="text/javascript" src="js/bootstrap-modal.js")
  %body
  
    .topbar
      .fill
        .container-fluid
          %a.brand.brandfont(href="/chrome-sdb.html")
            Simple DB Tool
          %ul.nav
            %li.active
              %a(href="/chrome-sdb.html")
                Query
            %li
              %a(href="/config.html")
                Configure
            %li
              %a(href="/about.html") 
                About
                  
    .container-fluid
      .content
        .row
          .span12.offset1#message_box(style="display:none;")             
    
    .container-fluid      
      .content
      
        .row        
          .span8.offset1
            .clearfix
              %h3(for="query")
                Query    
                %input.btn.primary.pull-right#query_btn(type="button" value="Run Query" onclick="query()" data-loading-text="Running query...")               
              .input
                %textarea.span8#query_expr{:name => "query", :rows => 3}
                %span.help-block
                  Check out the docs...
                                       
              

        .row
          .span15.offset1            
            %h3
              Query Results
              %button.btn.info.pull-right#next_page_btn(disabled="disabled")
                Next page &raquo;
            %table.bordered-table.zebra-striped.condensed-table#query_results_table
              %thead
                %tr
                  %td
                    Items
              %tbody
                %tr
                  %td
                    No query run...
                    
        .row
          .span15.offset1
            %footer.actions
              %span.brandfont
                Simple DB Tool v0.1
              |
              %a(href="https://github.com/floodfx/chrome-sdb/issues")
                Feedback / Bugs / Feature requests?

                  
      .sidebar(style="padding-left:10px")
        .row(style="width:250px")
          %h3
            Domains
            %button.btn.info.pull-right#add_item(data-controls-modal="add_edit_item_attributes" data-backdrop="static" onclick="add_item()")
              Add Item
          %select#region_select(name="region" style="width:250px")      
          .overflow(style="height:350px; width: 250px; overflow:auto; margin-bottom:10px;margin-top:10px")
            %table.bordered-table.zebra-striped.condensed-table#domains_table                    
              %tbody
                %tr
                  %td(rowspan="2")
                    No Domains...        
        .row(style="width:250px")
          %a.btn.primary#create_domain(href="#" data-controls-modal="create_domain_modal" data-backdrop="static") 
            Create Domain  
          %button.btn.warning.pull-right#domain_deletion_control(onclick="handle_delete_toggle()") 
            Enable Delete                    

   
    #add_edit_item_attributes.modal.hide.fade(style="display:none;")
      .modal-header
        %a.close(href="#")
          x           
        %h3#add_edit_item_label
          Add/Edit Item
      .modal-body
        %form
          %fieldset(style="padding-top:0px")
            .clearfix2
              %label(for="item_domain_name")
                Domain
              .input
                %select#domain_select(name="item_domain_name")
            .clearfix2
              %label(for="item_name")
                Item Name        
              .input
                %input#item_name(name="item_name" type="text")
            .clearfix2
              %label(for="attr_name")
                Attribute Name        
              .input
                %input#attr_name(name="attr_name" type="text")
            .clearfix2
              %label(for="attr_value")
                Attribute Value        
              .input
                %textarea#attr_value_textarea(name="attr_value_textarea" rows="1" cols="20")
            .clearfix2
              %label(for="attr_replace")                    
              .input
                %input#attr_replace(type="checkbox" name="attr_replace" value="yes_or_no")
                %span Replace existing attribute value(s)
            .clearfix2
              %label(for="attr_value_is_multivalued")                    
              .input
                %input#attr_value_is_multivalued(type="checkbox" name="attr_value_is_multivalued" value="yes_or_no")
                %span Attribute is multi-valued
            .clearfix2               
              .input
                %label(for="attr_value_delimiter")
                  Multi-valued Delim (RegExp)
                %input.span1#attr_value_delimiter(name="attr_value_delimiter" type="text" value="\\n" style="margin-left:10px")
      .modal-footer
        %button.btn.info#save_attribute_btn(onclick="save_item()")
          Save
        %input.btn#reset_attribute_btn(type="reset")
        %a(href="#" onclick="$('#add_edit_item_attributes').modal('hide')")
          Cancel

    #create_domain_modal.modal.hide.fade(style="display: none;")
      .modal-header
        %a.close(href="#")
          x
        %h3
          Create a domain
      .modal-body
        %form
          %fieldset
            .clearfix
              %label(for="name")
                Name
              .input
                %input#domain_name(name="name" size="100" type="text")
      .modal-footer
        %button#save_domain.btn.primary(onclick="save_domain()" data-loading-text="Saving domain...")
          Save
        %button.btn.secondary(onclick="$('#create_domain_modal').modal('hide')")
          Cancel
    
    #confirm_delete_domain_modal.modal.hide.fade(style="display: none;")
      .modal-header
        %a.close#close-model(href="#")
          x
        #domain_delete_label
          %h2
            Delete
      .modal-body
        %h2
          Really delete this domain?! Prove it:
        %form
          %fieldset
            .clearfix
              %label(for="confirmDelete")
                Enter DELETE here
              .input
                %input.span2(name="confirm_delete" type="text") 
          
      .modal-footer
        %button#confirm_delete_domain_btn.btn.warning(disabled="disabled" data-loading-text="Deleting...")
          Confirm Deletion
        %button.btn.secondary(onclick="$('#confirm_delete_domain_modal').modal('hide')")
          Cancel
    
    #domain_metadata_modal.modal.hide.fade(style="display: none;")
      .modal-header
        %a.close#close-model(href="#")
          x
        #domain_metadata_label
          %h3
            Metadata
      .modal-body
        %form
          %fieldset
            .clearfix
              %label(for="itemCount")
                Item Count
              .input
                %input.span2(name="itemCount" type="text" disabled="disabled")
            .clearfix
              %label(for="itemNamesSizeBytes")
                Item Names Size (Bytes)
              .input
                %input.span2(name="itemNamesSizeBytes" type="text" disabled="disabled")
            .clearfix
              %label(for="attributeNameCount")
                Attribute Name Count
              .input
                %input.span2(name="attributeNameCount" type="text" disabled="disabled")
            .clearfix
              %label(for="attributeNamesSizeBytes")
                Attribute Names Size (Bytes)
              .input
                %input.span2(name="attributeNamesSizeBytes" type="text" disabled="disabled")
            .clearfix
              %label(for="attributeValueCount")
                Attribute Value Count
              .input
                %input.span2(name="attributeValueCount" type="text" disabled="disabled")
            .clearfix
              %label(for="attributeValuesSizeBytes")
                Attribute Values Size (Bytes)
              .input
                %input.span2(name="attributeValuesSizeBytes" type="text" disabled="disabled")
      .modal-footer
        %a.btn.primary(href="#" onclick="$('#domain_metadata_modal').modal('hide')")
          Ok
