!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title  
      =@title
    %link(rel="stylesheet" href="css/bootstrap.css")
    %link(rel="stylesheet" href="css/bootstrap-overrides.css")
    %link(rel="stylesheet" href="css/guiders-1.2.0.css")
    %link(href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel='stylesheet' type='text/css')
    
    %meta(charset="utf-8")
    %meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js")
    %script(type="text/javascript" src="js/config.js")
    %script(type="text/javascript" src="js/bootstrap-twipsy.js")
    %script(type="text/javascript" src="js/bootstrap-popover.js")
    %script(type="text/javascript" src="js/bootstrap-dropdown.js")
    %script(type="text/javascript" src="js/bootstrap-scrollspy.js")
    %script(type="text/javascript" src="js/bootstrap-modal.js")
    %script(type="text/javascript" src="js/guiders-1.2.0.js")
  %body
  
    .topbar
      .fill
        .container-fluid
          %a.brand.brandfont(href="/chrome-sdb.html")
            Simple DB Tool
          %ul.nav
            %li
              %a(href="/chrome-sdb.html")
                Query
            %li.active
              %a(href="/config.html")
                Configure
            %li
              %a(href="/about.html") 
                About
    
              
    
    #create_profile_modal.modal.hide.fade(style="display: none;")
      .modal-header
        %a.close#close-model(href="#")
          x
        %h3
          Save a Profile
      .modal-body
        %form
          %input#create_profile_action(type="hidden" name="action_type" value="create")
          %fieldset
            .clearfix
              %label(for="name")
                Name
              .input
                %input#profile_name(name="name" size="100" type="text")
                %span.help-block
                  Something like "My Company Creds" or "Personal Account"
            .clearfix
              %label(for="access_key")
                AWS Access Key ID
              .input
                %input#profile_aws_access_key(name="access_key" size="100" type="text")
                %span.help-block
                  AWS Access Key ID
            .clearfix
              %label(for="secret_key")
                AWS Secret Access Key
              .input
                %input#profile_aws_secret_key(name="secret_key" size="100" type="password")
                %span.help-block
                  AWS Secret Access Key
      .modal-footer
        %a#save_profile.btn.primary(href="#" onclick="save_profile()")
          Save
        %a#cancel_profile.btn.secondary(href="#" onclick="cancel_profile()")
          Cancel          
      
    .container 
      .row
        .span12#message_box(style="display:none;")
    
      .row
        .span8
          %h2
            Profiles          
          %table.bordered-table.zebra-striped.condensed-table#profiles_table
            %thead
              %tr
                %th
                  Name
                %th
                  Access Key ID
                %th
                  Edit
                %th
                  Use
                %th
                  Delete
                
            %tbody
              %tr
                %td(colspan="5")
                  No profiles...
                  
          %a.btn.primary.pull-right#create_profile(href="#" data-controls-modal="create_profile_modal" data-backdrop="static")
            Create a new profile      
      
      
    
      .row
        .span16
          %footer.actions
            %span.brandfont
              Simple DB Tool v0.1
            |
            %a(href="https://github.com/floodfx/chrome-sdb/issues")
              Feedback / Bugs / Feature requests?
    
